@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFF;
}

.navbar {
    background-color: #FFFF;
    display: flex;

    align-items: center;
    padding: 10px;
    /* border-radius: 5px; */
}

.navbar-brand {
    color: rgb(118, 23, 23);
    font-size: 30px;
}

.navbar-brand img {
    cursor: pointer;
    margin-left: 30px;
    height: 60px;
    border-radius: 5px;
}

.navbar-menu {
    margin-right: 30px;
    flex-grow: 1;
    text-align: right;
}

.navbar-menu li {
    font-size: 24px;
    display: inline-block;
    margin: 0 10px;
}

.navbar-nav li a {
    color:rgb(118, 23, 23);
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
    cursor: pointer;
    font-size: 25px;
    /* background-color: #ddd; */
    text-decoration: underline;
}

.navbar-user {
    display: flex;
    align-items: center;
    color: rgb(118, 23, 23);
    /* border: 1px solid black; */
    margin-left: 10px;
}

.navbar-user h2 {
    cursor: pointer;
    /* margin-left: auto; */
    font-size: 18px;
    margin-top: 8px;
}

.navbar-buttons button {
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d28dd8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
    background-color: #E8EAF6;
    font-size: 20px;
    color:Black;
    font-weight: bolder;
}

.heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scrollable-cell {
    max-width: 200px;
    /* border: 1px solid black; */
}

.content-container {
    overflow: auto;
    /* Enable scrolling */
    max-height: 200px;
    /* Set a maximum height to limit the scrollable area */
}

.addtofav{
    border:none;
    border-radius: 5px;
    background-color: rgb(41, 180, 41);
    color: white;
    padding: 5px;
}

.delete{
    border:none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 5px;
}